.row{   

    background-color:#825E5C;
    color:white;
    font-size:20px;
    display: flex;
    justify-content:space-between;
}
.headshot{
    width:310px;
    border-radius: 100%;
    height: 350px;
    display: flex;
   justify-content:center;
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    
}
.aboutme{
    border:1px solid black;   
}
.row{
    display:flex;
    justify-content: space-between;
}
.a{
    color:black;
    font-family: 'Lobster Two', cursive;
    text-decoration: underline;
    text-decoration-color: #825E5C;
}

.c{
    background-color:#EEB8CB;
    display: flex;
    justify-content: space-around;
    font-family: 'Lobster Two', cursive;
    
}
.b{
font-family: 'Lobster Two', cursive;
}
#img2{
    padding-right: 100px;
    padding-left: 100px;
    background-color: #AAA8F9;
    width:85%;
    height: 70%;
    
}
h1{
font-family: 'Lobster', cursive;
}
a{
    color: white;
    text-decoration-color: #825E5C;
}
#ab{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}
#a1{
    color: black;
    text-decoration-color: #825E5C;
}
#pro{
    color:black;
}
#b1{
     font-family: 'Lobster Two', cursive;
     background-image: url("background.jpg");
     test-align:center;
}
.psu{
    font-size: 35px;
}
#ab{
font-size: 50px;
}
li{
    font-size: 20px;
}
